JO - TP/public_html/TD.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT tableau (ligne*)>

<!ELEMENT ligne (pays,medaille,medaille,medaille, total?)>
<!ELEMENT pays EMPTY>
<!ATTLIST pays nomDePays (USA|GrandeBretagne|Chine|Russie|Allemagne|Japon|France|CoréeduSud|Italie|Australie) #REQUIRED>

<!ELEMENT medaille (#PCDATA)>
<!ATTLIST medaille typeDeMedaille (or|argent|bronze) #REQUIRED>

<!ELEMENT total (#PCDATA)>